$green-color : #a6e22e;
.align-left{
    text-align: left;
    margin-left: 60px;
    span{
        color: $green-color;
    }
}
.green{
    color:$green-color;
}
.reveal ol
pre{
    width:100%;
}

.two-col{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

#c {
    opacity:.8;
}
.ex2-container canvas {
    position:absolute;
    top:0; left:0;
}